<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Multi-lingual Twilio SMS Broadcaster</h2>

    <div class="content">
      <h2>About</h2>
      <p>Broadcast messages via Twilio SMS that accomodate the recipient's language preference <a href="https://github.com/thebrianemory/corneal">README</a>.</p>
    </div>

    <div class="content">
      <h2>Want to try it out?</h2>
      <a href= '/message'>Send yourself a Twilio SMS message</a>
    </div>

    <div class="sidebar">
      <h3>Languages</h3>
      <ul>
        <li>Ruby, HTML, and CSS</li>
      <h3>Framework</h3>
      <ul>
        <li>Sinatra</li>
      <h3>Database</h3>
      <ul>
        <li>ActiveRecord</li>
      <h3>API Uses</h3>
      <ul>
        <li>Twilio SMS API</li>
        <li>Yandex API</li>
      </ul>
    </div>

  </div>
</div>
